* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Roboto Light", "Segoe UI Web Light", "Segoe UI Light", "Segoe UI Web Regular", "Segoe UI", Helvetica, Arial, sans-serif;
    margin: 1em;
    background: #eeeeee;
    color: #ecf0f0;
}
header {

}
h1, h2, h3 {
	margin: 0;
	text-rendering: optimizeLegibility;
}
h1 {
	font-size: 2.4em;
	line-height: 1.4em;
	font-family: 'Lobster Two';
	font-style: italic;
	text-shadow: 2px 4px 0 rgba(0,0,0,0.4);
}
h2 {
	font-size: 1em;
	text-transform: uppercase;
	font-weight: normal;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

circle.hot {fill: #d53f50;}
circle.warm {fill: #f68d5c;}
circle.neutral {fill: #fddf8b;}
circle.cold {fill: #3489bd;}


.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
